@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  color: white;
  background-color: rgb(54, 54, 54);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.rainbow {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem 3rem;
}

.rainbow_text_animated {
  background: linear-gradient(
    to right,
    #ff2b2b,
    #ff9900,
    #e5ff00,
    #10ff08,
    #1fe5ff,
    #025bff,
    #6506ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.button {
  display: block;
  text-align: center;
  margin-top: 3rem;
  padding: 0.5em 1em;
  font-size: 3em;
  text-decoration: none;
  background: linear-gradient(
    to right,
    #ff2b2b,
    #ff9900,
    #e5ff00,
    #10ff08,
    #1fe5ff,
    #025bff,
    #6506ff
  );
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  color: white;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
